<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elizamfotos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="js/jquery-3.2.1.js" type="text/javascript"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allura">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>

    <link href="css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

    <link href="css/owl.carousel.css" rel="stylesheet" type="text/css"/>
    <script src="js/owl.carousel.js" type="text/javascript"></script>
    <script src="js/owl.carousel.min.js" type="text/javascript"></script>
    <link href="css/owl.theme.default.css" rel="stylesheet" type="text/css"/>
    <script src="js/carousel.js" type="text/javascript"></script>
    

    <link rel="stylesheet" href="css/styles.min.css">
    

</head>

<body>
<div class="config">


</div>
<div class="container">
  <h2 style="text-align: center">Mini-portfólio</h2>
  <p>ALtere aqui as imagens e descrições das imagens que aparecem no inicio da página na partede Portfólio</p>
          <br>                                                                                      
          <div class="table-responsive">          
          <table class="table">
            <thead>
              <tr>
                <th>Foto</th>
                <th>Descição</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>  

            <!-- Imagem 1 -->           
              <tr>                
                <td><img src="<%=dadosIndex[0].imgMiniPort1%>" id="miniPort1" style="width: 100px"></td>
                <td>
                  <form action="salvarMiniPort" method="post" >
                      <input type="text" name="nomeMiniPort1" placeholder="Nome da foto" class="form-control" value="<%=dadosIndex[0].nomeMiniPort1%>">
                      <input type="text" name="imgMiniPort1" class="form-control" value="<%=dadosIndex[0].imgMiniPort1%>" id="imgMiniPort1" placeholder="Url da imagem" onkeyup="document.getElementById('miniPort1').src=(this.value)">             
                  
                </td>
                <input type="hidden" name="idItem" value="">
                <td>
                  <input type="submit" class="btn btn-primary btn-block" value="Salvar">
                  <input type="button" class="btn btn-danger btn-block" value="Foto original" onclick="document.getElementById('imgMiniPort1').value= 'img/Portifolio/mini/1.jpg';document.getElementById('miniPort1').src=('img/Portifolio/mini/1.jpg')">
                </td>
                </form>
              </tr>
              <!-- Imagem 2 -->           
              <tr>                
                <td><img src="<%=dadosIndex[0].imgMiniPort2%>" id="miniPort2" style="width: 100px"></td>
                <td>
                  <form action="salvarMiniPort" method="post" >
                      <input type="text" name="nomeMiniPort2" placeholder="Nome da foto" class="form-control" value="<%=dadosIndex[0].nomeMiniPort2%>">
                      <input type="text" name="imgMiniPort2" class="form-control" value="<%=dadosIndex[0].imgMiniPort2%>" id="imgMiniPort2" placeholder="Url da imagem" onkeyup="document.getElementById('miniPort2').src=(this.value)">             
                  
                </td>
                <input type="hidden" name="idItem" value="">
                <td>
                  <input type="submit" class="btn btn-primary btn-block" value="Salvar">
                  <input type="button" class="btn btn-danger btn-block" value="Foto original" onclick="document.getElementById('imgMiniPort2').value= 'img/Portifolio/mini/2.jpg';document.getElementById('miniPort2').src=('img/Portifolio/mini/2.jpg')">
                </td>
                </form>
              </tr>
              <!-- Imagem 3 -->           
              <tr>                
                <td><img src="<%=dadosIndex[0].imgMiniPort3%>" id="miniPort3" style="width: 100px"></td>
                <td>
                  <form action="salvarMiniPort" method="post" >
                      <input type="text" name="nomeMiniPort3" placeholder="Nome da foto" class="form-control" value="<%=dadosIndex[0].nomeMiniPort3%>">
                      <input type="text" name="imgMiniPort3" class="form-control" value="<%=dadosIndex[0].imgMiniPort3%>" id="imgMiniPort3" placeholder="Url da imagem" onkeyup="document.getElementById('miniPort3').src=(this.value)">             
                  
                </td>
                <input type="hidden" name="idItem" value="">
                <td>
                  <input type="submit" class="btn btn-primary btn-block" value="Salvar">
                  <input type="button" class="btn btn-danger btn-block" value="Foto original" onclick="document.getElementById('imgMiniPort3').value= 'img/Portifolio/mini/3.jpg';document.getElementById('miniPort3').src=('img/Portifolio/mini/3.jpg')">
                </td>
                </form>
              </tr>

              <!-- Imagem 4 -->           
              <tr>                
                <td><img src="<%=dadosIndex[0].imgMiniPort4%>" id="miniPort4" style="width: 100px"></td>
                <td>
                  <form action="salvarMiniPort" method="post" >
                      <input type="text" name="nomeMiniPort4" placeholder="Nome da foto" class="form-control" value="<%=dadosIndex[0].nomeMiniPort4%>">
                      <input type="text" name="imgMiniPort4" class="form-control" value="<%=dadosIndex[0].imgMiniPort4%>" id="imgMiniPort4" placeholder="Url da imagem" onkeyup="document.getElementById('miniPort4').src=(this.value)">             
                  
                </td>
                <input type="hidden" name="idItem" value="">
                <td>
                  <input type="submit" class="btn btn-primary btn-block" value="Salvar">
                  <input type="button" class="btn btn-danger btn-block" value="Foto original" onclick="document.getElementById('imgMiniPort4').value= 'img/Portifolio/mini/4.jpg';document.getElementById('miniPort4').src=('img/Portifolio/mini/4.jpg')">
                </td>
                </form>
              </tr>
              <!-- Imagem 5 -->           
              <tr>                
                <td><img src="<%=dadosIndex[0].imgMiniPort5%>" id="miniPort5" style="width: 100px"></td>
                <td>
                  <form action="salvarMiniPort" method="post" >
                      <input type="text" name="nomeMiniPort5" placeholder="Nome da foto" class="form-control" value="<%=dadosIndex[0].nomeMiniPort5%>">
                      <input type="text" name="imgMiniPort5" class="form-control" value="<%=dadosIndex[0].imgMiniPort5%>" id="imgMiniPort5" placeholder="Url da imagem" onkeyup="document.getElementById('miniPort5').src=(this.value)">             
                  
                </td>
                <input type="hidden" name="idItem" value="">
                <td>
                  <input type="submit" class="btn btn-primary btn-block" value="Salvar">
                  <input type="button" class="btn btn-danger btn-block" value="Foto original" onclick="document.getElementById('imgMiniPort5').value= 'img/Portifolio/mini/5.jpg';document.getElementById('miniPort5').src=('img/Portifolio/mini/5.jpg')">
                </td>
                </form>
              </tr>
              <!-- Imagem 6 -->           
              <tr>                
                <td><img src="<%=dadosIndex[0].imgMiniPort6%>" id="miniPort6" style="width: 100px"></td>
                <td>
                  <form action="salvarMiniPort" method="post" >
                      <input type="text" name="nomeMiniPort6" placeholder="Nome da foto" class="form-control" value="<%=dadosIndex[0].nomeMiniPort6%>">
                      <input type="text" name="imgMiniPort6" class="form-control" value="<%=dadosIndex[0].imgMiniPort6%>" id="imgMiniPort6" placeholder="Url da imagem" onkeyup="document.getElementById('miniPort6').src=(this.value)">             
                  
                </td>
                <input type="hidden" name="idItem" value="">
                <td>
                  <input type="submit" class="btn btn-primary btn-block" value="Salvar">
                  <input type="button" class="btn btn-danger btn-block" value="Foto original" onclick="document.getElementById('imgMiniPort6').value= 'img/Portifolio/mini/6.jpg';document.getElementById('miniPort6').src=('img/Portifolio/mini/6.jpg')">
                </td>
                </form>
              </tr>
              <!-- Imagem 7 -->           
              <tr>                
                <td><img src="<%=dadosIndex[0].imgMiniPort7%>" id="miniPort7" style="width: 100px"></td>
                <td>
                  <form action="salvarMiniPort" method="post" >
                      <input type="text" name="nomeMiniPort7" placeholder="Nome da foto" class="form-control" value="<%=dadosIndex[0].nomeMiniPort7%>">
                      <input type="text" name="imgMiniPort7" class="form-control" value="<%=dadosIndex[0].imgMiniPort7%>" id="imgMiniPort7" placeholder="Url da imagem" onkeyup="document.getElementById('miniPort7').src=(this.value)">             
                  
                </td>
                <input type="hidden" name="idItem" value="">
                <td>
                  <input type="submit" class="btn btn-primary btn-block" value="Salvar">
                  <input type="button" class="btn btn-danger btn-block" value="Foto original" onclick="document.getElementById('imgMiniPort7').value= 'img/Portifolio/mini/7.jpg';document.getElementById('miniPort7').src=('img/Portifolio/mini/7.jpg')">
                </td>
                </form>
              </tr>
              <!-- Imagem 58 -->           
              <tr>                
                <td><img src="<%=dadosIndex[0].imgMiniPort8%>" id="miniPort8" style="width: 100px"></td>
                <td>
                  <form action="salvarMiniPort" method="post" >
                      <input type="text" name="nomeMiniPort8" placeholder="Nome da foto" class="form-control" value="<%=dadosIndex[0].nomeMiniPort8%>">
                      <input type="text" name="imgMiniPort8" class="form-control" value="<%=dadosIndex[0].imgMiniPort8%>" id="imgMiniPort8" placeholder="Url da imagem" onkeyup="document.getElementById('miniPort8').src=(this.value)">             
                  
                </td>
                <input type="hidden" name="idItem" value="">
                <td>
                  <input type="submit" class="btn btn-primary btn-block" value="Salvar">
                  <input type="button" class="btn btn-danger btn-block" value="Foto original" onclick="document.getElementById('imgMiniPort8').value= 'img/Portifolio/mini/8.jpg';document.getElementById('miniPort8').src=('img/Portifolio/mini/8.jpg')">
                </td>
                </form>
              </tr>
              <!-- Imagem 9 -->           
              <tr>                
                <td><img src="<%=dadosIndex[0].imgMiniPort9%>" id="miniPort9" style="width: 100px"></td>
                <td>
                  <form action="salvarMiniPort" method="post" >
                      <input type="text" name="nomeMiniPort9" placeholder="Nome da foto" class="form-control" value="<%=dadosIndex[0].nomeMiniPort9%>">
                      <input type="text" name="imgMiniPort9" class="form-control" value="<%=dadosIndex[0].imgMiniPort9%>" id="imgMiniPort9" placeholder="Url da imagem" onkeyup="document.getElementById('miniPort9').src=(this.value)">             
                  
                </td>
                <input type="hidden" name="idItem" value="">
                <td>
                  <input type="submit" class="btn btn-primary btn-block" value="Salvar">
                  <input type="button" class="btn btn-danger btn-block" value="Foto original" onclick="document.getElementById('imgMiniPort9').value= 'img/Portifolio/mini/9.jpg';document.getElementById('miniPort9').src=('img/Portifolio/mini/9.jpg')">
                </td>
                </form>
              </tr>
              <!-- Imagem 10 -->           
              <tr>                
                <td><img src="<%=dadosIndex[0].imgMiniPort10%>" id="miniPort10" style="width: 100px"></td>
                <td>
                  <form action="salvarMiniPort" method="post" >
                      <input type="text" name="nomeMiniPort10" placeholder="Nome da foto" class="form-control" value="<%=dadosIndex[0].nomeMiniPort10%>">
                      <input type="text" name="imgMiniPort10" class="form-control" value="<%=dadosIndex[0].imgMiniPort10%>" id="imgMiniPort10" placeholder="Url da imagem" onkeyup="document.getElementById('miniPort10').src=(this.value)">             
                  
                </td>
                <input type="hidden" name="idItem" value="">
                <td>
                  <input type="submit" class="btn btn-primary btn-block" value="Salvar">
                  <input type="button" class="btn btn-danger btn-block" value="Foto original" onclick="document.getElementById('imgMiniPort10').value= 'img/Portifolio/mini/10.jpg';document.getElementById('miniPort10').src=('img/Portifolio/mini/10.jpg')">
                </td>
                </form>
              </tr>
              <!-- Imagem 11 -->           
              <tr>                
                <td><img src="<%=dadosIndex[0].imgMiniPort11%>" id="miniPort11" style="width: 100px"></td>
                <td>
                  <form action="salvarMiniPort" method="post" >
                      <input type="text" name="nomeMiniPort11" placeholder="Nome da foto" class="form-control" value="<%=dadosIndex[0].nomeMiniPort11%>">
                      <input type="text" name="imgMiniPort11" class="form-control" value="<%=dadosIndex[0].imgMiniPort11%>" id="imgMiniPort11" placeholder="Url da imagem" onkeyup="document.getElementById('miniPort11').src=(this.value)">             
                  
                </td>
                <input type="hidden" name="idItem" value="">
                <td>
                  <input type="submit" class="btn btn-primary btn-block" value="Salvar">
                  <input type="button" class="btn btn-danger btn-block" value="Foto original" onclick="document.getElementById('imgMiniPort11').value= 'img/Portifolio/mini/11.jpg';document.getElementById('miniPort11').src=('img/Portifolio/mini/11.jpg')">
                </td>
                </form>
              </tr>
              <!-- Imagem 12 -->           
              <tr>                
                <td><img src="<%=dadosIndex[0].imgMiniPort12%>" id="miniPort12" style="width: 100px"></td>
                <td>
                  <form action="salvarMiniPort" method="post" >
                      <input type="text" name="nomeMiniPort12" placeholder="Nome da foto" class="form-control" value="<%=dadosIndex[0].nomeMiniPort12%>">
                      <input type="text" name="imgMiniPort12" class="form-control" value="<%=dadosIndex[0].imgMiniPort12%>" id="imgMiniPort12" placeholder="Url da imagem" onkeyup="document.getElementById('miniPort12').src=(this.value)">             
                  
                </td>
                <input type="hidden" name="idItem" value="">
                <td>
                  <input type="submit" class="btn btn-primary btn-block" value="Salvar">
                  <input type="button" class="btn btn-danger btn-block" value="Foto original" onclick="document.getElementById('imgMiniPort12').value= 'img/Portifolio/mini/12.jpg';document.getElementById('miniPort12').src=('img/Portifolio/mini/12.jpg')">
                </td>
                </form>
              </tr>

            </tbody>
          </table>
  
</div>

<script src="js/arbum.js" type="text/javascript"></script>
</body>

</html>