<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elizamfotos</title>


</head>

<body>

<div id="fundoBranco"></div>
        <input type="button" name="" id="btnMais" class="btnMais" value=">">
        <div>
        

    <div id="pg3" class="divisao3" style="background-image: url('<%=dadosIndex[0].imgLateral2%>');">    
        <div id="fundo" class="fundo">
             <div class="divLogo">
                <img src="<%=dadosIndex[0].imgLogo%>">
            </div> 
        </div>  
        <input type="button" name="" id="btnMenos" class="btnMenos" value="<">  

          
        <div class="descricaoDivisao1" id="descriLateral1">
            <h1 class="animated fadeInLeft"><%=dadosIndex[0].fotoLateral1%></h1>
        </div>
        <div class="descricaoDivisao1" id="descriLateral2">
            <h1 class="animated fadeInLeft"><%=dadosIndex[0].fotoLateral2%></h1>
        </div>
        <div class="descricaoDivisao1" id="descriLateral3">
            <h1 class="animated fadeInLeft"><%=dadosIndex[0].fotoLateral3%></h1>
        </div>
    </div>


    <div class="album">
        <h1>Álbuns</h1>
        <hr class="hrIndex">
        <div class="container">
            <div class ="row">

                <% for(let i = 0; i < albuns.length; i++){ %>
                
                    <div id="artigo<%=i%>" class="col-md-4 artigoso" onmouseover="hoverArtigo(this.id)" onmouseleave="leavArtigo(this.id)">
                        <a>
                        <article id="Portfolio?album=<%=albuns[i]._id%>" onclick="abrirPort(this.id)" >
                            <img src="svg/fita adesiva.svg" class="fita">
                            <div class="fotoAlbum">
                                <img src="<%=albuns[i].fotoCapa%>" class="imgArtigo">
                                <span class="albumVerMais" id="artigo<%=i%>ver">Ver mais +</span>
                            </div>
                            <div>
                                <h4><%=albuns[i].nome%></h4>
                                <p><%=albuns[i].tipo%></p>
                                <hr>
                                <p><%=albuns[i].descriAlbum%></p>
                            </div>
                        </article>
                    </div> </a>
                
                <% } %>

            </div>
        </div>

        <br><br><br><br>
    </div>


        <!-- Contato -->
        <div class="foot">
            <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 col-xl-6">
                <form action="/enviarMensagem" method="post">
                    <div class="footForm">
                    <img src="<%=dadosIndex[0].imgMiniCam%>" class="imgFace">
                    <div class="form-group"><input class="form-control" type="text" name="nome" placeholder="Nome"></div>
                    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="E-mail"></div>
                    <div class="form-group"><textarea class="form-control texArea" rows="14" name="mensagem" placeholder="Mensagem"></textarea></div>
                    <div class="form-group"><button id="btnEnviarMensagem" class="btn btn-primary" type="submit" >Enviar</button></div>
                </div>
                </form>
            </div>

            <div class="col-12 col-lg-4 col-xl-4">
                <h2 class="text-center">Me mande uma mensagem</h2>
                <div class="messageLayout">
                    <p>REDES SOCIAIS</p>
                    <hr>
                    <div class="messageSocial">
                        <a href="<%=dadosIndex[0].facebook%>"><img src="svg/icoFacebook.svg" class="icoSvg"></i></a>
                        <a href="<%=dadosIndex[0].instagram%>"><img src="svg/icoInstagram.svg" class="icoSvg"></i></a>
                    </div>
                </div>

                <div class="messageLayout">
                    <p>TELEFONE</p>
                    <hr>
                    <div class="messageSocial">
                        <%=dadosIndex[0].telefone1%><br>
                        <%=dadosIndex[0].telefone2%>
                    </div>
                </div>

                <div class="messageLayout">
                    <p>E-MAIL</p>
                    <hr>
                    <div class="messageSocial">
                        <%=dadosIndex[0].emailContato%>
                    </div>
                </div>
            </div>
            <div>
            </div>
        </div>
        </div>
    </div>
<script src="js/paginasLegais.js" type="text/javascript"></script>
</body>

</html>